.localisation{
    display: flex;
    justify-content: center;
    align-items: baseline;
    background: linear-gradient(#c1c1c1c9, $gris 5px);
    padding: 1rem 0 1rem 0;
    margin: 0 -1rem;
        &__icon{
            margin: 0 1rem 0 3rem;
        }

        & input{
            font-family: "Roboto", sans-serif;
            font-size: 1rem;
            font-weight: bold;
            border: none;
            background: $gris;

                &:focus{
                    outline: none;
                }

                &::placeholder{
                    color: black;
                    font-size: 1rem;
                }
        }
}