/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-menu {
  from {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner-opacite {
  0% {
    opacity: 1;
    cursor: wait;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    cursor: wait;
  }
}

@keyframes spinner-opacite {
  0% {
    opacity: 1;
    cursor: wait;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    cursor: wait;
  }
}

body {
  margin: 1.5rem 1.5rem 0 1.5rem;
  font-family: "Roboto", sans-serif;
}

body a:hover, body button:hover {
  cursor: pointer;
}

body a, body a:visited {
  text-decoration: initial;
  color: initial;
}

.body-menu {
  background: whitesmoke;
}

@media only screen and (min-width: 700px) {
  .body-menu {
    background-color: white;
  }
}

.spinner {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: fixed;
  margin: 0 -1.5rem 0;
  z-index: 9999;
  background-color: #423b3b;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: spinner-opacite 2s linear forwards;
          animation: spinner-opacite 2s linear forwards;
}

.spinner__div {
  position: absolute;
  border: 10px inset;
  margin-top: 210px;
  padding: 5.5rem 2.26rem 5.5rem;
  border-top-color: #99E2D0;
  border-bottom-color: #9356DC;
  border-left-color: #FF79DA;
  border-right-color: orange;
  border-radius: 50%;
  -webkit-animation: spinner 2s linear infinite;
          animation: spinner 2s linear infinite;
  font-family: shrikhand, cursif;
}

@media only screen and (min-width: 420px) {
  .spinner__div {
    margin-top: 300px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-size: 1.9rem;
  margin-bottom: 0.7rem;
  font-family: "Shrikhand", cursif;
  background-color: white;
  margin: -1.5rem -1.5rem 0 -1.5rem;
  padding: 1.4rem 1.5rem 0.8rem;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background: linear-gradient(#c1c1c1c9, #eeecec 5px);
  padding: 1rem 0 1rem 0;
  margin: 0 -1.5rem;
}

.localisation__icon {
  margin: 0 1rem 0 3rem;
}

.localisation input {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background: #eeecec;
}

.localisation input:focus {
  outline: none;
}

.localisation input::-webkit-input-placeholder {
  color: black;
  font-size: 1rem;
}

.localisation input:-ms-input-placeholder {
  color: black;
  font-size: 1rem;
}

.localisation input::-ms-input-placeholder {
  color: black;
  font-size: 1rem;
}

.localisation input::placeholder {
  color: black;
  font-size: 1rem;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: whitesmoke;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -1.5rem;
  padding: 3rem 2.5rem 3.5rem 2.5rem;
}

.description h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description p {
  font-size: 1.05rem;
  margin-bottom: 2rem;
}

.description button {
  font-size: 0.9rem;
  font-weight: bold;
  color: whitesmoke;
  padding: 1rem;
  border-radius: 30px;
  border-color: #FF79DA #FF79DA #9356DC #FF79DA;
  border-style: solid;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(90%, #9356DC));
  background: linear-gradient(#FF79DA, #9356DC 90%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 9px 10px -8px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 9px 10px -8px;
}

.description button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 9px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 9px 10px -5px;
  background: #ae80e5;
  border-color: #ae80e5;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3rem 0 2rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 700px) {
  .fonctionnement {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.fonctionnement h1 {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 700px) {
  .fonctionnement h1 {
    text-align: center;
  }
}

.fonctionnement h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}

.fonctionnement p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  color: white;
  margin-right: 0.5rem;
  border: solid;
  -webkit-transform: translate(-60%);
          transform: translate(-60%);
  border-radius: 100% 100% 100% 100%;
  padding: 0.12rem 0.3rem 0.1rem 0.3rem;
  border-color: #9356DC;
  background: #9356DC;
}

.fonctionnement i {
  font-size: 1.25rem;
}

.fonctionnement__etiquette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 4.5rem;
  margin-bottom: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid whitesmoke;
  border-radius: 25px;
  background: whitesmoke;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 9px 10px -8px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 9px 10px -8px;
}

@media only screen and (min-width: 700px) {
  .fonctionnement__etiquette {
    width: 285px;
    margin: 0 1vw 1.5rem 1vw;
  }
}

.fonctionnement__etiquette:hover {
  background: #ebebf5;
  border-color: #ebebf5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 9px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 9px 10px -5px;
  cursor: pointer;
}

.fonctionnement__etiquette:hover i {
  color: #9356DC;
}

.fonctionnement__etiquette .fa-mobile-alt {
  margin-right: 2.25rem;
  color: #888585;
}

.fonctionnement__etiquette .fa-list-ul {
  margin-right: 1.80rem;
  color: #888585;
}

.fonctionnement__etiquette .fa-store {
  margin-right: 1.60rem;
  color: #888585;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: whitesmoke;
  margin: 0rem -1.5rem 0rem -1.5rem;
  padding: 3rem 0 3rem 0;
}

.restaurants h1 {
  width: 80%;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 1.5rem 1.5rem;
}

@media only screen and (min-width: 700px) {
  .restaurants h1 {
    width: 100%;
    text-align: center;
    margin: 0 0 1.5rem;
  }
}

.restaurants__div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 700px) {
  .restaurants__div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.restaurants__div__nouveau {
  color: #248a70;
  background-color: #99E2D0;
  padding: 0.5rem 0.8rem;
  font-size: 0.85rem;
  font-weight: bold;
  border-radius: 3px;
  position: absolute;
  z-index: 0;
  right: 12px;
  top: 13px;
}

.restaurants__div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  width: 87.5%;
  border-radius: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 9px 10px -8px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 9px 10px -8px;
  position: relative;
}

@media only screen and (min-width: 700px) {
  .restaurants__div a {
    min-width: 45%;
    width: 45%;
  }
}

.restaurants__div img {
  width: 100%;
  height: 220px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants__div__banniere {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: white;
  border-radius: 0 0 15px 15px;
  padding: 0.8rem 0 0.8rem 0;
  width: 100%;
}

.restaurants__div__banniere__texte {
  margin-left: 1rem;
  line-height: 1.5rem;
}

.restaurants__div__banniere__texte h2 {
  font-size: 1.1rem;
  font-weight: bold;
}

.restaurants__div__banniere .fas {
  position: absolute;
  right: 20px;
  bottom: 25px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 1s cubic-bezier(0, 0.85, 0.99, 2.68);
  transition: all 1s cubic-bezier(0, 0.85, 0.99, 2.68);
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(90%, #9356DC));
  background: linear-gradient(#FF79DA, #9356DC 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.7rem;
}

.restaurants__div__banniere .fas:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.restaurants__div__banniere .far {
  position: absolute;
  right: 20px;
  bottom: 25px;
  cursor: pointer;
  font-size: 1.7rem;
}

footer {
  margin: 0 -1.5rem 0 -1.5rem;
  padding: 1.5rem 0 2rem 1.5rem;
  background: #3d3d3d;
  line-height: 1.5;
}

@media only screen and (min-width: 700px) {
  footer {
    text-align: center;
  }
}

footer p {
  font-family: "Shrikhand", cursif;
  font-size: 1.2rem;
  color: white;
}

footer a:hover {
  -webkit-text-decoration: underline #FF79DA;
          text-decoration: underline #FF79DA;
}

footer nav {
  margin-top: 0.5rem;
}

footer h3 {
  color: white;
  display: inline;
}

footer h3:hover {
  color: #FF79DA;
}

footer h3 i {
  margin-right: 1rem;
}

footer h3 .fa-hands-helping {
  font-size: 0.64rem;
}
/*# sourceMappingURL=style.css.map */