/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 1.5rem 1rem 0 1rem;
  font-family: "Roboto", sans-serif;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.logo__image {
  width: 50%;
  height: 50%;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background: linear-gradient(#c1c1c1c9, #eeecec 5px);
  padding: 1rem 0 1rem 0;
  margin: 0 -1rem;
}

.localisation__icon {
  margin: 0 1rem 0 3rem;
}

.localisation input {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background: #eeecec;
}

.localisation input:focus {
  outline: none;
}

.localisation input::-webkit-input-placeholder {
  color: black;
  font-size: 1rem;
}

.localisation input:-ms-input-placeholder {
  color: black;
  font-size: 1rem;
}

.localisation input::-ms-input-placeholder {
  color: black;
  font-size: 1rem;
}

.localisation input::placeholder {
  color: black;
  font-size: 1rem;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: whitesmoke;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -1rem;
  padding: 3rem 2.5rem 3.5rem 2.5rem;
}

.description h1 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description p {
  font-size: 1.05rem;
  margin-bottom: 2rem;
}

.description button {
  font-size: 1rem;
  font-weight: bold;
  color: whitesmoke;
  padding: 1rem;
  border-radius: 30px;
  border-color: #FF79DA;
  border-style: solid;
  background: #FF79DA;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px -5px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px -5px;
}
/*# sourceMappingURL=style.css.map */