/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 1.5rem 1.5rem 0 1.5rem;
  font-family: "Roboto", sans-serif;
}

body a:hover, body button:hover {
  cursor: pointer;
}

body a, body a:visited {
  text-decoration: initial;
  color: initial;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.logo__image {
  width: 50%;
  height: 50%;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background: linear-gradient(#c1c1c1c9, #eeecec 5px);
  padding: 1rem 0 1rem 0;
  margin: 0 -1.5rem;
}

.localisation__icon {
  margin: 0 1rem 0 3rem;
}

.localisation input {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background: #eeecec;
}

.localisation input:focus {
  outline: none;
}

.localisation input::-webkit-input-placeholder {
  color: black;
  font-size: 1rem;
}

.localisation input:-ms-input-placeholder {
  color: black;
  font-size: 1rem;
}

.localisation input::-ms-input-placeholder {
  color: black;
  font-size: 1rem;
}

.localisation input::placeholder {
  color: black;
  font-size: 1rem;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: whitesmoke;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -1.5rem;
  padding: 3rem 2.5rem 3.5rem 2.5rem;
}

.description h1 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description p {
  font-size: 1.05rem;
  margin-bottom: 2rem;
}

.description button {
  font-size: 1rem;
  font-weight: bold;
  color: whitesmoke;
  padding: 1rem;
  border-radius: 30px;
  border-color: #FF79DA #FF79DA #9356DC #FF79DA;
  border-style: solid;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(90%, #9356DC));
  background: linear-gradient(#FF79DA, #9356DC 90%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px -5px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px -5px;
}

.description button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 10px -3px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 10px -3px;
  background: #a16be0;
  border-color: #a16be0;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3rem 0 3rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fonctionnement h1 {
  width: 100%;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.fonctionnement h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}

.fonctionnement p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  color: white;
  margin-right: 0.5rem;
  border: solid;
  -webkit-transform: translate(-60%);
          transform: translate(-60%);
  border-radius: 100% 100% 100% 100%;
  padding: 0.12rem 0.3rem 0.1rem 0.3rem;
  border-color: #9356DC;
  background: #9356DC;
}

.fonctionnement i {
  font-size: 1.25rem;
}

.fonctionnement__etiquette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 4.5rem;
  margin-bottom: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid whitesmoke;
  border-radius: 25px;
  background: whitesmoke;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 5px 10px 10px -5px;
          box-shadow: rgba(0, 0, 0, 0.15) 5px 10px 10px -5px;
}

.fonctionnement__etiquette:hover {
  background: #f0f0f8;
  border-color: #f0f0f8;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 10px -3px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 10px -3px;
}

.fonctionnement__etiquette:hover i {
  color: #9356DC;
}

.fonctionnement__etiquette .fa-mobile-alt {
  margin-right: 2.25rem;
  color: #888585;
}

.fonctionnement__etiquette .fa-list-ul {
  margin-right: 1.80rem;
  color: #888585;
}

.fonctionnement__etiquette .fa-store {
  margin-right: 1.60rem;
  color: #888585;
}
/*# sourceMappingURL=style.css.map */