@keyframes slide-menu {
    from{
        transform: translateY(20%);
        opacity: 0;
    }

    to{
        transform: translateY(0%);
        opacity: 1; 
    } 
}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    } 
}

@keyframes spinner-opacite {
    0%{
        opacity: 1;
        cursor: wait;
    }

    80%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        visibility: hidden;
        cursor: wait;
    } 
}