$vert: #99E2D0;
$vert-fonce: #248a70;
$rose: #FF79DA;
$magenta: #9356DC;
$bleu-clair: rgb(235, 235, 245);
$gris: rgb(238, 236, 236);
$gris-clair: rgb(245, 245, 245);
$gris-fonce: rgb(136, 133, 133);
$gris-footer: rgb(61, 61, 61);
$ombre: rgba(0, 0, 0, 0.150) 0px 9px 10px -8px;
$ombre-survol: rgba(0, 0, 0, 0.200) 0px 9px 10px -5px;