.bouton{
    display: flex;
    justify-content: center;
    padding: 0 0 5rem 0;
    margin: 0 -1.5rem 0 -1.5rem;
    background: $gris-clair;
    @media only screen and (min-width: 700px) {
        background-color: white;  
        }
    
        & button{
            font-size: 1rem;
            font-weight: bold;
            color: $gris-clair;
            padding: 1rem 3rem;
            border-radius: 30px;
            border-color: $rose $rose $magenta $rose;
            border-style: solid;
            background: linear-gradient($rose, $magenta 90%);
            box-shadow: $ombre;

                &:hover{
                    box-shadow: $ombre-survol;
                    background: lighten($color: $magenta, $amount: 10%);
                    border-color: lighten($color: $magenta, $amount: 10%);
                }
        }
}